@model FTMatricula.Models.Course
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml"; ;
    ViewBag.Title = @Resources.GetValue("ADD_COURSE");
}
@section styles {

}

<div id="content">
    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                @Resources.GetValue("ADD_COURSE")
            </div>

            <div class="editDetail">
                <div class="detailBox centererDetailBox">
                    <ul>
                        <li>
                             @Html.Label(@Resources.GetValue("COURSE_CODE"))
                        </li>
                        <li>
                            <div>
                                <div>
                                    @Html.TextBoxFor(model => model.Code, new { @class = "input width100" })
                                </div>
                            </div>
                        </li>

                        <li>
                            @Html.Label( @Resources.GetValue("COURSE_NAME"))
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(model => model.Name, new { @class = "input width100" })
                            </div>
                        </li>
                        <li>
                            @Html.Label(@Resources.GetValue("TEACHING_HOURS"))
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(model => model.TeachingHours, new { @class = "input width100" })
                            </div>
                        </li>
                        <li>
                            @Html.Label(@Resources.GetValue("COURSE_COST"))
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(model => model.Charge, new { @class = "input width100" })
                            </div>
                        </li>                                                
                        <li>
                            @Html.Label("Criterio de Calificación")
                        </li>
                        <li style="display: inline">
                            <div>
                                @(Html.Kendo().DropDownListFor(model => model.ScoreCriteria.TypeID)
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.ScoreCriteriaList)
                                                    .Name("ScoreCriteria.TypeID")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li class="minScore">
                            @Html.Label(@Resources.GetValue("MIN_SCORE"), new {@class = "hide" })
                        </li>
                        <li class="minScore">
                            <div class="hide">
                                @Html.TextBoxFor(model => model.ScoreCriteria.MinimumScore, new { @class = "input width100" })
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>
            <div class="errorsSpace">
                <ul>
                    <li>
                        @Html.ValidationMessageFor(model => model.Code)
                        @Html.ValidationMessageFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.TeachingHours)
                        @Html.ValidationMessageFor(model => model.Charge)
                        @Html.HiddenFor(model => model.ScoreCriteriaList)
                        @Html.ValidationSummary(false)
                    </li>
                </ul>
            </div>            
            <div class="clear"></div>
            <div class="formBtnBar">
                <a href="#" class="button send" onclick="javascript: submit_form()">@Resources.GetValue("SAVE")</a>
                @Html.ActionLink(@Resources.GetValue("CANCEL"), "index", "Course", routeValues: null, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
        }
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        function keypressHandler(event) {
            var key = event.which || event.keyCode;

            switch (key) {
                default:
                    return true;
                case 13:
                    submit_form();
                    return false;
            }
        }
        function submit_form() {
            $('.popupBg').fadeIn();
            $('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }

        $(function () {
            $('#ScoreCriteria_TypeID').off('change.ScoreCriteria_TypeID').on('change.ScoreCriteria_TypeID', function () {
                var el = this;
                $.each($.parseJSON($('#ScoreCriteriaList').val()), function () {
                    if (this.name == 'MIN_SCORE') {
                        if ($(el).val() == this.id) {
                            $('.minScore').children().fadeIn();
                        }
                        else {
                            $('.minScore').children().fadeOut();
                            $('#ScoreCriteria_MinimumScore').val('');
                        }
                    }                    
                });

                
                
            });
        });

    </script>
}
