@model FTMatricula.Models.Scheme
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = @Resources.GetValue("SCHEME_MANT");
}

@section styles {
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
}
<div id="content">

    <div class="mainBox">

        <h2 class="title"><a href="@Url.Action("Back", "Home", routeValues: new { opt = "programs" })" class="internalTitle">@Resources.GetValue("HOME")/@Resources.GetValue("PROGRAM_PLAN_COURSE")/@Resources.GetValue("LINK_PLAN_COURSE")</a></h2>

        <div class="editDetail">
            <div id="LinkPC">
                <ul class="linkPlan">
                    <li class="cWhite">
                        @Html.Label(@Resources.GetValue("PLAN_NAME"))
                    </li>
                    <li>
                         @(Html.Kendo().DropDownList()
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.PlanList)
                                                    .Name("PlanID")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" }))

                    </li>
                </ul>
                <div class="leftSide">
                    <h3 class="title2">Cursos sin asignar</h3>
                    <div class="infoHolder">
                        <p class="padLess lined30">Type the Course Name for auto filter</p>
                        <input id="filter1" class="input" type="text" />
                        <div class="usersHolderBox panel">
                            <ul id="sortable1" class="connectedSortable">
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rightSide">
                    <h3 class="title2">Cursos Agregados al Plan</h3>
                    <div class="infoHolder">
                        <p class="padLess lined30">Type the Course Name for auto filter</p>
                        <input id="filter2" class="input" type="text" />
                        <div class="usersHolderBox panel">
                            <ul id="sortable2" class="connectedSortable">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <ul class="formBtnBar">
                    <li>                        
                         <a href="#" class="button send">Save</a>
                    </li>
                    <li>
                        @Html.ActionLink("Cancel", "index", "Scheme", routeValues: null, htmlAttributes: new { @class = "button back" })
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

@section Scripts {    
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#sortable1, #sortable2').sortable({
                connectWith: '.connectedSortable'
            }).disableSelection();
            filteredList('filter1', 'sortable1');
            filteredList('filter2', 'sortable2');

            $.bAjax({
                url: 'LinkPC/GetCourses',
                async: false,
                ajaxSuccess: function (response) {
                    buildCourseList($.parseJSON(response));
                }
            });

            function buildCourseList(data) {
                var content = new StringBuilder();

                $.each(data, function (key, val) {
                    content.append('<li><span id="');
                    content.append(val.CourseID);
                    content.append('">');
                    content.append(val.Code);
                    content.append(' : ');
                    content.append(val.Name);
                    content.append('</span></li>');
                });
                $('#sortable1').html(content.toString());
            }

        });
    </script>
}
