@model FTMatricula.Models.Scheme
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = @Resources.GetValue("SCHEME_MANT");
}

@section styles {
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
}
<div id="content">

    <div class="mainBox">

        <h2 class="title"><a href="@Url.Action("Back", "Home", routeValues: new { opt = "programs" })" class="internalTitle">@Resources.GetValue("HOME")/@Resources.GetValue("PROGRAM_PLAN_COURSE")/@Resources.GetValue("LINK_PLAN_COURSE")</a></h2>

        <div class="editDetail">
            <div id="LinkPC">
                <ul class="linkPlan">
                    <li class="cWhite">
                        @Html.Label(@Resources.GetValue("PLAN_NAME"))
                    </li>
                    <li>
                        @(Html.Kendo().DropDownList()
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.PlanList)
                                                    .Name("PlanID")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" })
                                                    .OptionLabel("Select a Plan"))

                    </li>
                </ul>
                <div class="leftSide">
                    <h3 class="title2">@Resources.GetValue("UNASSIGNED_COURSE")</h3>
                    <div class="infoHolder">
                        <p class="padLess lined30">@Resources.GetValue("TYPE_AUTO_FILTER")</p>
                        <input id="filter1" class="input" type="text" />
                        <div class="usersHolderBox panel">
                            <ul id="sortable1" class="connectedSortable">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rightSide">
                    <h3 class="title2">@Resources.GetValue("ADDED_COURSES")</h3>
                    <div class="infoHolder">
                        <p class="padLess lined30">@Resources.GetValue("TYPE_AUTO_FILTER")</p>
                        <input id="filter2" class="input" type="text" />
                        <div class="usersHolderBox panel">
                            <ul id="sortable2" class="connectedSortable">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <ul class="formBtnBar">
                    <li>
                        <a href="#" class="button send" id="btnLinkPC">Save</a>
                    </li>
                    <li>                        
                        <a href="@Url.Action("Back", "Home", routeValues: new { opt = "programs" })" class="button back">Cancel</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            // Enable drag a drop to the items list
            $('#sortable1, #sortable2').sortable({
                connectWith: '.connectedSortable'
            }).disableSelection();
            filteredList('filter1', 'sortable1');
            filteredList('filter2', 'sortable2');

            // Get the list of the Avalaible Courses
            $.bAjax({
                url: 'LinkPC/GetCourses',
                async: false,
                ajaxSuccess: function (response) {
                    buildCourseList($.parseJSON(response), "#sortable1");
                }
            });

            // Change event to load 
            $("#PlanID").off('change.PlanID').on('change.PlanID', function () {
                if ($(this).val() != "") {
                    // Get the list of the Courses by Plan
                    $.bAjax({
                        url: 'LinkPC/GetCoursesbyPlan',
                        ajaxBeforeSend: function () {
                            $('.popupBg').fadeIn();
                            $('.loading').fadeIn();
                        },
                        data: { planID: $(this).val() },
                        async: false,
                        ajaxSuccess: function (response) {
                            buildCourseList($.parseJSON(response).cUassigned, "#sortable1");
                            buildCourseList($.parseJSON(response).cAssigned, "#sortable2");
                            $('.popupBg').fadeOut();
                            $('.loading').fadeOut();
                        }
                    });
                }
                else {
                    // Get the list of the Avalaible Courses
                    $.bAjax({
                        url: 'LinkPC/GetCourses',
                        async: false,
                        ajaxSuccess: function (response) {
                            buildCourseList($.parseJSON(response), "#sortable1");
                            buildCourseList("", "#sortable2");
                        }
                    });
                }
            });

            // Inject the course to the DOM
            function buildCourseList(data, obj) {
                if (data != "") {
                    var content = new StringBuilder();
                    $.each(data, function (key, val) {
                        content.append('<li><span id="');
                        content.append(val.CourseID);
                        content.append('">');
                        content.append(val.Code);
                        content.append(' : ');
                        content.append(val.Name);
                        content.append('</span></li>');
                    });
                    $(obj).html(content.toString());
                }
                else {
                    $(obj).html("");
                }                
            }

            // Save Action
            $('#btnLinkPC').off('click.btnLinkPC').on('click.btnLinkPC', function () {
                $.ajaxSettings.traditional = true;
                var lcourses = [];
                $('#sortable2 li').each(function () {
                    lcourses.push($(this).children('span').attr('id'));
                });
                $.bAjax({
                    url: 'LinkPC/InsertPlanCourse',
                    ajaxBeforeSend: function () {
                        $('.popupBg').fadeIn();
                        $('.loading').fadeIn();
                    },
                    data: { planID: $("#PlanID").val(), courses: lcourses },
                    datatype: "json",
                    async: false,
                    ajaxSuccess: function (response) {
                        $('.popupBg').fadeOut();
                        $('.loading').fadeOut();
                        if (response != "true")
                            alert("Please Select a Plan");
                    }
                });
                return false;
            });
        });
    </script>
}
