@model FTMatricula.Models.Location
<ul>
    <li class="editor-label">
        @Html.LabelFor(model => model.Name, @Resources.GetValue("LOCATION_NAME"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Name)
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Name)
    </li>
    <li class="editor-label">
        @Html.LabelFor(model => model.Line1, @Resources.GetValue("LOCATION_LINE1"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Line1)
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Line1)
    </li>
    <li class="editor-label">
        @Html.LabelFor(model => model.Line2, @Resources.GetValue("LOCATION_LINE2"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Line2)
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Line2)
    </li>
    <li>
        @Html.ValidationSummary(true)
    </li>
</ul>
