@model FTMatricula.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Mantenimiento Usuarios";
}

@section styles {

}

<div id="content_edit_left">
    <div class="editMenuSpace">
        <div class="editMenu">
            <ul>
                <li class="editOptList">
                    <div class="editOpt editOptSelected">
                        <a href="@Url.Action("index", "School", routeValues: null)">PERSONAL DATA
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="content_edit_right">

    <div class="editBox">

        <div class="editTitle">
            <span>EDIT USERS  -</span>Personal DATA
        </div>

        <div class="editDetail" style="height: 400px;">
            <div class="detailBox">
                <ul style="height: 90px;">
                    <li>
                        <label>Identificacion</label>
                    </li>
                    <li>
                        <div>@Html.TextBoxFor(m => m.UserName, new { @class = "input" })</div>
                    </li>

                    <li>
                        <label>First Name</label>
                    </li>
                    <li>
                        <div>@Html.TextBoxFor(m => m.FirstName, new { @class = "input" })</div>
                    </li>

                    <li>
                        <label>Last Name</label>
                    </li>
                    <li>
                        <div>@Html.TextBoxFor(m => m.LastName, new { @class = "input" })</div>
                    </li>
                </ul>
            </div>
            <div class="detailBox">
                <ul style="height: 120px;">
                    <li>
                        <label>DateOfBirth</label>
                    </li>
                    <li>
                        <div>@*@Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input" })*@
                            @Html.Kendo().DatePickerFor(m => m.DateOfBirth).HtmlAttributes(new { @class = "input", style="width:100%;"})
                        </div>
                    </li>
                    <li>
                        <label>Gender</label>
                    </li>
                    <li>
                        <div>
                            <span class="selectHolder">
                                @Html.DropDownListFor(m => m.Gender, FTMatricula.Utilities.GeneralCollections.GenderList, new { @class = "select" })
                            </span>
                        </div>
                    </li>
                    <li>
                        <label>MaritalStatusTypeID</label>
                    </li>
                    <li>
                        <div>
                            <span class="selectHolder">
                                @Html.DropDownListFor(m => m.MaritalStatusTypeID, FTMatricula.Utilities.GeneralCollections.MaritalStatusList, new { @class = "select" })
                            </span>
                        </div>
                    </li>
                    <li>
                        <label>CountryID</label>
                    </li>
                    <li>
                        <div>
                            <span class="selectHolder">
                                @Html.DropDownListFor(m => m.CountryID, FTMatricula.Utilities.GeneralCollections.CountriesList, new { @class = "select" })
                            </span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="detailBox">
                <ul style="height: 120px;">
                    <li>
                        <label>Phone1</label>
                    </li>
                    <li>
                        <div>@Html.TextBoxFor(m => m.Phone1, new { @class = "input" })</div>
                    </li>

                    <li>
                        <label>Phone2</label>
                    </li>
                    <li>
                        <div>@Html.TextBoxFor(m => m.Phone2, new { @class = "input" })</div>
                    </li>

                    <li>
                        <label>Phone3</label>
                    </li>
                    <li>
                        <div>@Html.TextBoxFor(m => m.Phone3, new { @class = "input" })</div>
                    </li>
                    <li>
                        <label>Email</label>
                    </li>
                    <li>
                        <div>@Html.TextBoxFor(m => m.Email, new { @class = "input" })</div>
                    </li>
                </ul>
            </div>
            <div class="detailBox">
                <ul style="height: 30px;">
                    <li>
                        <label>Role</label>
                    </li>
                    <li>
                        <div>
                            <span class="selectHolder">
                                @Html.DropDownListFor(m => m.Email, FTMatricula.Utilities.GeneralCollections.UserRolesList, new { @class = "select" })
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="formBtnBar">
            @Html.ActionLink("Save", "Edit", "User", routeValues: null, htmlAttributes: new { @class = "button send" })        
            @Html.ActionLink("Cancel", "index", "User", routeValues: null, htmlAttributes: new { @class = "button back" })
        </div>
        <div class="clear"></div>
    </div>

</div>

@section Scripts {

}
