@model FTMatricula.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Mantenimiento Usuarios";
}

@section styles {

}

<div id="content_edit_left">
    <div class="editMenuSpace">
        <div class="editMenu">
            <ul>
                <li class="editOptList">
                    <div class="editOpt editOptSelected">
                        <a href="@Url.Action("index", "School", routeValues: null)">PERSONAL DATA
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="content_edit_right">

    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                <span>EDIT USERS -</span>Personal DATA
            </div>

            <div class="editDetail">
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>Identificacion</label>
                        </li>
                        <li>
                            <div>
                                @*@Html.TextBoxFor(m => m.UserName, new { @class = "input", @readOnly = "readOnly"})*@
                                <span class="readOnly">
                                    @Html.DisplayTextFor(m => m.UserName)
                                </span>
                            </div>
                        </li>

                        <li>
                            <label>First Name</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.FirstName, new { @class = "input" })</div>
                        </li>

                        <li>
                            <label>Last Name</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.LastName, new { @class = "input" })</div>
                        </li>
                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>DateOfBirth</label>
                        </li>
                        <li>
                            <div>@*@Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input" })*@
                                @Html.Kendo().DatePickerFor(m => m.DateOfBirth).HtmlAttributes(new { @class = "input width100"})
                            </div>
                        </li>
                        <li>
                            <label>Gender</label>
                        </li>
                        <li>
                            <div>
                                @*<span class="selectHolder">
                                    @Html.DropDownListFor(m => m.Gender, FTMatricula.Utilities.GeneralCollections.GenderList, new { @class = "select" })
                                </span>*@

                                @(Html.Kendo().DropDownListFor(m => m.Gender)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.GenderList)
                                    .Name("Gender")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            <label>MaritalStatusTypeID</label>
                        </li>
                        <li>
                            <div>
                                @*<span class="selectHolder">
                                    @Html.DropDownListFor(m => m.MaritalStatusTypeID, FTMatricula.Utilities.GeneralCollections.MaritalStatusList, new { @class = "select" })
                                </span>*@

                                @(Html.Kendo().DropDownListFor(m => m.MaritalStatusTypeID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.MaritalStatusList)
                                    .Name("MaritalStatusTypeID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            <label>CountryID</label>
                        </li>
                        <li>
                            <div>
                                @*<span class="selectHolder">
                                    @Html.DropDownListFor(m => m.CountryID, FTMatricula.Utilities.GeneralCollections.CountriesList, new { @class = "select" })
                                </span>*@
                                @(Html.Kendo().DropDownListFor(m => m.CountryID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.CountriesList)
                                    .Name("CountryID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>Phone1</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Phone1, new { @class = "input" })</div>
                        </li>

                        <li>
                            <label>Phone2</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Phone2, new { @class = "input" })</div>
                        </li>

                        <li>
                            <label>Phone3</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Phone3, new { @class = "input" })</div>
                        </li>
                        <li>
                            <label>Email</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Email, new { @class = "input" })</div>
                        </li>
                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>Role</label>
                        </li>
                        <li>
                            <div>
                                @*<span class="selectHolder">
                                    @Html.DropDownListFor(m => m.Email, FTMatricula.Utilities.GeneralCollections.UserRolesList, new { @class = "select" })
                                </span>*@
                                @(Html.Kendo().DropDownListFor(m => m.RoleName)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.UserRolesList)
                                    .Name("RoleName")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="errorsSpace">
                <ul>
                    <li>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.DateOfBirth)
                    </li>
                </ul>
            </div>
            
            <div class="clear"></div>
            <div class="formBtnBar">
                @*@Html.ActionLink("Save", "Edit", "User", routeValues: null, htmlAttributes: new { @class = "button send" })*@
                <a href="#" class="button send" onclick="javascript: submit_form()">Save</a>
                @Html.ActionLink("Cancel", "index", "User", routeValues: null, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
            @Html.HiddenFor(m => m.StudentID)
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.IdentificationTypeID)
        }
    </div>

</div>

@section Scripts {
    <script type="text/javascript">

        function submit_form() {
            //$('.modalBg').fadeIn();
            //$('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }
    </script>
}
