@model FTMatricula.Models.RequirementDetail
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml"; ;
    ViewBag.Title = @Resources.GetValue("EDIT_REQ");
}
@section styles {

}
<div id="content">
    <div class="editBox">
        @using (Html.BeginForm("UpdateRequirement", "Requirement"))
        { 
            <div class="editTitle">
                @Resources.GetValue("EDIT_REQ")
            </div>
            <div class="editDetail">
                <div class="editDetail">
                    <div class="detailBox centererDetailBox">
                        <ul>
                            <li class="editor-label">
                                @Html.LabelFor(model => model.Name, @Resources.GetValue("REQ_NAME"))
                            </li>
                            <li class="k-textbox">
                                @Html.EditorFor(model => model.Name)
                            </li>
                            <li class="editor-label">
                                @Html.Label(@Resources.GetValue("TYPE_NAME"))
                            </li>
                            <li style="display: inline">
                                @(Html.Kendo().DropDownListFor(model => model.TypeID)
                                        .BindTo(FTMatricula.Utilities.GeneralCollections.ReqTypeList)
                                        .Name("TypeID")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .HtmlAttributes(new { @class = "width100" }))
                            </li>
                            <li>
                                @Html.ValidationSummary(true)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="errorsSpace">
                <ul>
                    <li>
                       @Html.ValidationMessageFor(model => model.Name)
                    </li>
                </ul>
            </div>            
            <div class="clear"></div>
            <div class="formBtnBar">
                <a href="#" class="button send" onclick="javascript: submit_form()">Save</a>
                @Html.ActionLink("Cancel", "Index", "Home", routeValues: new { opt = "maintenance" }, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
            @Html.HiddenFor(m => m.RequirementID)
            @Html.HiddenFor(m => m.TypeID)
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function keypressHandler(event) {
            var key = event.which || event.keyCode;
            switch (key) {
                default:
                    return true;
                case 13:
                    submit_form();
                    return false;
            }
        }
        function submit_form() {
            $('.modalBg').fadeIn();
            $('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }
    </script>
}
