@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = @Resources.GetValue("NOTES_REGISTER");
}

@section styles {
    <style>
        .k-reset {
            border: 0 none !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        .k-edit-cell input
        {
            width: 100%;
        }
    </style>
}
<div id="content">

    <div class="mainBox">

        <h2 class="title"><a href="@Url.Action("Back", "Home", routeValues: new { opt = "student" })" class="internalTitle">@Resources.GetValue("HOME")/Estudiantes/Historial Académico</a></h2>

            <div class="detailBox100">
                <ul>
                    <li>
                        <label class="subTitle cWhite">Lista de Cursos por Estudiantes</label>
                    </li>
                    <li class="width100">
                        @(Html.Kendo().Grid<FTMatricula.Models.StudentCourses>()
                                      .Name("Grid")
                                      .Columns(columns =>
                                      {
                                          columns.Bound(m => m.PlanCode).Title("Plan");
                                          columns.Bound(m => m.CourseCode).Title("Código Curso");
                                          columns.Bound(m => m.CourseName).Title("Nombre del Curso");
                                          columns.Bound(m => m.Professor).Title("Profesor");
                                          columns.Bound(m => m.Schedule).Title("Horario");
                                      })
                                      .Resizable(resize => resize.Columns(true))
                                      .Filterable(filter =>
                                      {
                                          filter.Enabled(true);
                                          filter.Extra(false);
                                          filter.Operators(oper =>
                                          {
                                              oper.ForString(ostr =>
                                              {
                                                  ostr.IsEqualTo(@Resources.GetValue("IS_EQUAL_TO"));
                                                  ostr.IsNotEqualTo(@Resources.GetValue("IS_NOT_EQUAL_TO"));
                                                  ostr.StartsWith(@Resources.GetValue("STARTS_WITH"));
                                                  ostr.Contains(@Resources.GetValue("CONTAINS"));
                                                  ostr.DoesNotContain(@Resources.GetValue("DOES_NOT_CONTAIN"));
                                                  ostr.EndsWith(@Resources.GetValue("ENDS_WITH"));
                                              });
                                          });
                                          filter.Messages(msj =>
                                          {
                                              msj.Filter(@Resources.GetValue("FIND"));
                                              msj.Clear(@Resources.GetValue("CLEAN"));
                                              msj.Info(@Resources.GetValue("FIND_VAL_WHAT"));
                                          });
                                      })
                                      
                                      .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .Events(events => events.Error("error_handler"))
                                            .Read(read => read.Action("PagingStudentCourses", "Student"))
                                            )
                                    )
                    </li>
                </ul>
            </div>
            <ul class="formBtnBar">
                <li>
                    <a href="@Url.Action("Back", "Home", routeValues: new { opt = "student" })" class="button back">Cancel</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var sregis = new scoreRegister({
                view: 'INDEX'
            });
        });
    </script>
}