@model FTMatricula.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = Resources.GetValue("STUDENT_MAINTENANCE");
}

@section styles {

}

<div id="content_edit_left">
    <div class="editMenuSpace">
        <div class="editMenu">
            <ul>
                <li class="editOptList">
                    <div class="editOpt editOptSelected">
                        <a href="#">@Resources.GetValue("PERSONAL_DATA")
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="content_edit_right">

    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                <span> @Resources.GetValue("ADD_STUDENT") -</span>@Resources.GetValue("PERSONAL_DATA")  
            </div>

            <div class="editDetail">
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("IDENTIFICATION_TYPE")</label>
                        </li>
                        <li>
                            <div>
                                
                                @(Html.Kendo().DropDownListFor(m => m.IdentificationTypeID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.IdentificationList)
                                    .Name("IdentificationTypeID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            <label>@Resources.GetValue("IDENTIFICATION")</label>
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "input" })

                                @*<span class="readOnly">
                                    @Html.DisplayTextFor(m => m.UserName)
                                </span>*@
                            </div>
                        </li>

                        <li>
                            <label>@Resources.GetValue("FIRST_NAME")</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.FirstName, new { @class = "input" })</div>
                        </li>

                        <li>
                            <label>@Resources.GetValue("LAST_NAME")</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.LastName, new { @class = "input" })</div>
                        </li>
                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("DATE_OF_BIRTH")</label>
                        </li>
                        <li>
                            <div>@*@Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input" })*@
                                @Html.Kendo().DatePickerFor(m => m.DateOfBirth).HtmlAttributes(new { @class = "input width100" })
                            </div>
                        </li>
                        <li>
                            <label>@Resources.GetValue("GENDER")</label>
                        </li>
                        <li>
                            <div>
                                @*<span class="selectHolder">
                                    @Html.DropDownListFor(m => m.Gender, FTMatricula.Utilities.GeneralCollections.GenderList, new { @class = "select" })
                                </span>*@

                                @(Html.Kendo().DropDownListFor(m => m.Gender)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.GenderList)
                                    .Name("Gender")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            <label>@Resources.GetValue("MARITAL_STATUS")</label>
                        </li>
                        <li>
                            <div>
                                @*<span class="selectHolder">
                                    @Html.DropDownListFor(m => m.MaritalStatusTypeID, FTMatricula.Utilities.GeneralCollections.MaritalStatusList, new { @class = "select" })
                                </span>*@

                                @(Html.Kendo().DropDownListFor(m => m.MaritalStatusTypeID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.MaritalStatusList)
                                    .Name("MaritalStatusTypeID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            <label>@Resources.GetValue("COUNTRY")</label>
                        </li>
                        <li>
                            <div>
                                @*<span class="selectHolder">
                                    @Html.DropDownListFor(m => m.CountryID, FTMatricula.Utilities.GeneralCollections.CountriesList, new { @class = "select" })
                                </span>*@
                                @(Html.Kendo().ComboBoxFor(m => m.CountryID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.CountriesList)
                                    .Name("CountryID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("PHONE_MOB")</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Phone1, new { @class = "input" })</div>
                        </li>

                        <li>
                            <label>@Resources.GetValue("PHONE_HOME")</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Phone2, new { @class = "input" })</div>
                        </li>

                        <li>
                            <label>@Resources.GetValue("PHONE_OFFICE")</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Phone3, new { @class = "input" })</div>
                        </li>
                        <li>
                            <label>@Resources.GetValue("EMAIL")</label>
                        </li>
                        <li>
                            <div>@Html.TextBoxFor(m => m.Email, new { @class = "input" })</div>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="errorsSpace">
                <ul>
                    <li>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.DateOfBirth)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.Phone1)
                    </li>
                </ul>
            </div>
            
            <div class="clear"></div>
            <div class="formBtnBar">
                @*@Html.ActionLink("Save", "Edit", "User", routeValues: null, htmlAttributes: new { @class = "button send" })*@
                <a href="#" class="button send" onclick="javascript: submit_form()">@Resources.GetValue("SAVE")</a>
                @Html.ActionLink(Resources.GetValue("CANCEL"), "index", "Student", routeValues: null, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
            
        }
    </div>

</div>

@section Scripts {
    <script type="text/javascript">

        function submit_form() {
            //$('.popupBg').fadeIn();
            //$('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }
    </script>
}
