<!-- BEGIN certifications -->
<li menu-option="certifications" class="hide">
    <ul class="subMenuOpt">
        <li><a href="#" class="optTitle">@Resources.GetValue("HOME")/@Resources.GetValue("CERTIFICATIONS")</a></li>
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("index", "Certifications")">
                    <div style="background-image: url('Content/images/icons/templates.png');">
                        <ul>
                            <li>
                                <span>@Resources.GetValue("TEMPLATES")</span>
                            </li>
                            <li>
                                <p>@Resources.GetValue("TEMPLATES_DETAIL")</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/printer.png');">
                        <ul>
                            <li>
                                <span>@Resources.GetValue("PRINT_CERTIFICATION")</span>
                            </li>
                            <li>
                                <p>@Resources.GetValue("PRINT_CERTIFICATION_DETAIL")</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/flow.png');">
                        <ul>
                            <li>
                                <span>@Resources.GetValue("LINK_PLAN_TEMPLATE")</span>
                            </li>
                            <li>
                                <p>@Resources.GetValue("LINK_PLAN_TEMPLATE_DETAIL")</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        
        
    </ul>
</li>
<!-- END certifications -->
