<!-- BEGIN student -->
<li menu-option="student" class="hide">
    <ul class="subMenuOpt">
        <li><a href="#" class="optTitle">@Resources.GetValue("HOME")/@Resources.GetValue("STUDENT")</a></li>
        @if (!User.IsInRole("ROLE_ASSISTANCE"))
        { 
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("StudentCourses", "Student", routeValues: null)">
                    <div style="background-image: url('Content/images/icons/folder.png');">
                        <ul>
                            <li>
                                <span>@Resources.GetValue("COURSE_CONSULT")</span>
                            </li>
                            <li>
                                <p>@Resources.GetValue("COURSE_CONSULT_DETAILS")</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        }
        @if (!User.IsInRole("ROLE_ASSISTANCE"))
        { 
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("AcademicHistory", "Student", routeValues: null)">
                    <div style="background-image: url('Content/images/icons/history.png');">
                        <ul>
                            <li>
                                <span>@Resources.GetValue("ACADEMIC_HISTORY")</span>
                            </li>
                            <li>
                                <p>@Resources.GetValue("ACADEMIC_HISTORY_DETAILS")</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        }
        @if (!User.IsInRole("ROLE_ASSISTANCE"))
        { 
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("ScoreReport", "Student", routeValues: null)">
                    <div style="background-image: url('Content/images/icons/notes_view.png');">
                        <ul>
                            <li>
                                <span>@Resources.GetValue("SCORE_CONSULT")</span>
                            </li>
                            <li>
                                <p>@Resources.GetValue("SCORE_CONSULT_DETAILS")</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        }
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("index", "Student", routeValues: null)">
                    <div style="background-image: url('Content/images/icons/user.png');">
                        <ul>
                            <li>
                                <span>@Resources.GetValue("STUDENT")</span>
                            </li>
                            <li>
                                <p>@Resources.GetValue("STUDENT_DETAILS")</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        
    </ul>
</li>
<!-- END student -->
