@model FTMatricula.Models.UserModel
@{
    ViewBag.Title = "Home";
}

@section styles {

}


<div id="content_left">
    <!-- DESKTOPS STARTS -->
    <div class="desk">
        <ul class="menuOpt">

            <li class="item">
                <div class="itemContent maintenance">
                    <a href="#" class="itemTitle">Mantenimiento</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/gear.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent student">
                    <a href="#" class="itemTitle">Estudiante</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/student.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent programs">
                    <a href="#" class="itemTitle">Programas, Planes y Cursos</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/programs.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent enrollment">
                    <a href="#" class="itemTitle">Matrícula</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/matricula.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent notes">
                    <a href="#" class="itemTitle">Registro de Notas</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/reg_notes.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent records">
                    <a href="#" class="itemTitle">Actas</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/archive.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent certifications">
                    <a href="#" class="itemTitle">Certificaciones</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/degree.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent auditing">
                    <a href="#" class="itemTitle">Auditoría</a>
                    <div class="menuImage">
                        <a href="#">
                            <img src="~/Content/images/icons/auditoria.png" alt="" />
                        </a>
                    </div>
                </div>
            </li>


        </ul>
    </div>

    <!-- DESKTOPS ENDS -->
</div>

<!-- change to class ..> icon_selected -->
<div id="content_right">

    <div class="desk">
        <ul class="subMenuOpts">

            <li id="defaultMenuOpts">
                <ul class="subMenuOpt">
                    <li class="defaultOptList">
                        <img src="~/Content/images/icons/graduate.png" />
                        <img src="~/Content/images/icons/funda_tec.png" />
                    </li>
                </ul>
            </li>

            @Html.Partial("_maintenance")

            @Html.Partial("_student")

            @Html.Partial("_programs")

            @Html.Partial("_enrollment")

            @Html.Partial("_notes")

            @Html.Partial("_records")

            @Html.Partial("_certifications")

            @Html.Partial("_auditing")


        </ul>
    </div>

</div>


<div id="content_left2" class="hide">
</div>

@section Scripts {

    <script type="text/javascript">

        $(function () {
            $('.item').off('click.item_section').on('click.item_section', function () {
                $('.item div .current').removeClass('current');
                $(this).children().addClass('current');
                $('#content_left2').removeClass('hide');
                $('#defaultMenuOpts').addClass('hide');
                var actionMenu = $(this).children().attr('class').split(' ')[1];
                $('.subMenuOpts').children().addClass('hide');
                $('.subMenuOpts').children().each(function (i, obj) {
                    if (actionMenu == $(this).attr('menu-option')) {
                        $(obj).removeClass('hide');
                    }
                });
                $('#content_right').addClass('icon_selected');
                handle_clickBack();
                return false;
            });

            function handle_clickBack() {
                $('.subMenuOpts li[class!=hide]').children('.subMenuOpt li a').off('click.backMenu').on('click.backMenu', function () {
                    $('#content_right').removeClass('icon_selected');
                    $('#defaultMenuOpts').removeClass('hide');
                    $('#content_left2').addClass('hide');
                    $($(this).parent().parent()).parent().addClass('hide');
                    $('.item div').removeClass('current');
                    return false;
                });
            }

        });

    </script>
}
