@model FTMatricula.Models.PlanDetail
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml"; ;
    ViewBag.Title = @Resources.GetValue("EDIT_PLAN");
}
@section styles {

}
<div id="content">
    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                @Resources.GetValue("EDIT_PLAN")
            </div>

            <div class="editDetail">
                <div class="editDetail">
                <div class="detailBox centererDetailBox">
                    <ul>
                        <li>
                            @Html.Label(@Resources.GetValue("SCHEME_NAME"))
                        </li>
                        <li style="display: inline">
                            <div>
                                @(Html.Kendo().DropDownListFor(model => model.SchemeID)
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.SchemeList(User.Identity.Name, User.IsInRole("ROLE_SCHOOL_ADMIN")))
                                                    .Name("SchemeID")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            @Html.Label(@Resources.GetValue("PLAN_NAME"))
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(model => model.PlanName, new { @class = "input width100" })
                            </div>
                        </li>
                        <li>
                            @Html.Label(@Resources.GetValue("DESCRIPTION"))
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(model => model.Description, new { @class = "input width100" })
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>
                
            </div>
            <div class="errorsSpace">
                <ul>
                    <li>
                        @*  @Html.ValidationMessageFor(m => m.UserName)*@
                    </li>
                </ul>
            </div>            
            <div class="clear"></div>
            <div class="formBtnBar">
                <a href="#" class="button send" onclick="javascript: submit_form()">@Resources.GetValue("SAVE")</a>
                @Html.ActionLink(@Resources.GetValue("CANCEL"), "index", "Plan", routeValues: null, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
                @Html.HiddenFor(m => m.SchemeID)
                @Html.HiddenFor(m => m.PlanID)
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function keypressHandler(event) {
            var key = event.which || event.keyCode;

            switch (key) {
                default:
                    return true;
                case 13:
                    submit_form();
                    return false;
            }
        }

        function submit_form() {
            $('.popupBg').fadeIn();
            $('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }
    </script>
}
