@model FTMatricula.Models.Course
<ul>
    <li class="editor-label">
        @Html.LabelFor(model => model.Code, @Resources.GetValue("COURSE_CODE"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Code)
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Code)
    </li>
    <li class="editor-label">
        @Html.LabelFor(model => model.Name, @Resources.GetValue("COURSE_NAME"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Name)
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Name)
    </li>        
    <li class="editor-label">
        @Html.LabelFor(model => model.TeachingHours, @Resources.GetValue("TEACHING_HOURS"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.TeachingHours)        
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.TeachingHours)
    </li>
    <li class="editor-label">
        @Html.LabelFor(model => model.Charge, @Resources.GetValue("COURSE_COST"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Charge)        
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Charge)
    </li>
    <li>
        @Html.ValidationSummary(true)
    </li>
</ul>


