@model FTMatricula.Models.Classroom
 <ul>
     <li class="editor-label">
         @Html.LabelFor(model => model.Code, @Resources.GetValue("CLASSROOM_CODE"))
     </li>
     <li class="k-textbox">
         @Html.EditorFor(model => model.Code)
     </li>
     <li>
         @Html.ValidationMessageFor(model => model.Code)
     </li>
     <li>
         @Html.ValidationSummary(true)
     </li>
 </ul>
