@model FTMatricula.Models.Enrollment

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = Resources.GetValue("ENROLLMENT_MANT");
}

@section styles{
    <link rel="stylesheet" href="~/Content/styles/popup_window.css" />
}

<div id="content_edit_left">
    <div class="editMenuSpace">
        <div class="editMenu">
            <ul>
                <li class="editOptList">
                    <div class="editOpt">
                        <a href="@Url.Action("Edit", "Enrollment", routeValues: new { id = Model.EnrollmentID })">@Resources.GetValue("ENROLLMENT_GENERAL_INFO")</a>
                    </div>
                </li>
                <li class="editOptList">
                    <div class="editOpt editOptSelected">
                        <a href="#">@Resources.GetValue("ENROLLMENT_COURSES_DETAILS")</a>
                    </div>
                </li>
                <li class="editOptList">
                    <div class="editOpt">
                        <a href="@Url.Action("Groups", "Enrollment", routeValues: new { id = Model.EnrollmentID })">@Resources.GetValue("ENROLLMENT_GROUPS_DETAILS")</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="content_edit_right">

    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                <span>@*@Resources.GetValue("ENROLLMENT_ADD_TITLE")*@Edición de Matrícula -</span>@Resources.GetValue("ENROLLMENT_COURSES_DETAILS")
            </div>

            <div class="editDetail">
                <div class="detailBlock">
                    <ul>
                        <li class="width100">
                            <label>Seleccione los cursos que se incluiran en la matricula</label>
                        </li>
                        <li class="width100">
                            <div class="whiteContentBox">

                                @foreach (var item in Model.EnrollmentCourses)
                                {
                                    <div>
                                        @if (item.IsChecked)
                                        {
                                            <label class="checkSpace hit">
                                                <input type="checkbox" id="@item.EnrollmentCourseID" name="EnrollmentCourse" value="@item.IsChecked.ToString().ToLower()" checked="checked"/>
                                                @item.Course.Code &nbsp;-&nbsp; @item.Course.Name
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="checkSpace">
                                                <input type="checkbox" id="@item.EnrollmentCourseID" name="EnrollmentCourse" value="@item.IsChecked.ToString().ToLower()"/>
                                                @item.Course.Code &nbsp;-&nbsp; @item.Course.Name
                                            </label>
                                        }
                                    </div>
                                }
                            </div>
                        </li>

                        <li class="width100">
                            <div class="formBtnBar">
                                <a id="btnSaveSelectedCourses" href="#" class="button send">@Resources.GetValue("SAVE")</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="detailBox">
                    <ul>
                        <li class="width100">
                            <label class="bold">Información de nuevo Grupo</label>
                        </li>
                        <li>
                            <label>&nbsp;</label></li>
                        <li class="width100">
                            <label>&nbsp;</label>
                        </li>
                        <li>
                            <label>Curso</label>
                        </li>
                        <li>
                            <div>
                                <input id="Course_Name" name="Course_Name" type="text" value="" class="input width100" />
                            </div>
                        </li>
                        <li>
                            <label>Nombre del Grupo</label>
                        </li>
                        <li>
                            <div>
                                <input id="Group_Name" name="Group_Name" type="text" value="" class="input width100" />
                            </div>
                        </li>
                        <li>
                            <label>Profesor</label>
                        </li>
                        <li>
                            <div>
                                @(Html.Kendo().DropDownList()
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.ProfessorList)
                                    .Name("ProfessorID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            <label>Cupo</label>
                        </li>
                        <li>
                            @(Html.Kendo().NumericTextBox<int>()
                                .Name("currency")
                                .Format("n")
                                .Min(0)
                                .Max(100)
                                .Value(30)
                                .HtmlAttributes(new { @class = "width100" })
                          )
                        </li>
                        <li class="width100">
                            <label>&nbsp;</label>
                        </li>
                        <li class="width100">
                            <table class="width100" border="1" style="border: 1px solid #327376">
                                <tr>
                                    <td style="width: 40%; padding: 5px 5px; background-color: rgba(0,0,0,.5);">
                                        <label>Aula</label>
                                    </td>
                                    <td style="width: 60%; padding: 5px 5px; background-color: rgba(0,0,0,.5);">
                                        <label>Hora</label></td>
                                    <td style="padding: 5px 8px; background-color: #D16700; cursor: pointer;">
                                        <label>+</label></td>
                                </tr>
                            </table>
                        </li>

                        <li class="width100">
                            <div class="formBtnBar">
                                <a href="#addGroupWindow" class="popUp button down">Agregar Grupo</a>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="detailBox100">
                    <ul>
                        <li class="width100">
                            <label>Detalle de Grupos Creados para el Curso seleccionado</label>
                        </li>
                        <li class="width100">
                            <label>&nbsp;</label>
                        </li>
                        <li class="width100">
                            <div id="groups_grid">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>            
            <div class="errorsSpace">
                <ul>
                    <li>
                        @Html.ValidationMessageFor(m => m.Description)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </li>
                </ul>
            </div>
            @Html.HiddenFor(m => m.EnrollmentID)
            @Html.HiddenFor(m => m.InsertUserID)
            @Html.HiddenFor(m => m.InsertDate)
            <div class="clear"></div>
            <div class="formBtnBar">
                @*<a href="#" class="button send" onclick="javascript: submitX()">TEST</a>*@
                @*<a href="#" class="button send" onclick="javascript: submit_form()">@Resources.GetValue("SAVE")</a>*@
                @Html.ActionLink(Resources.GetValue("CANCEL"), "Index", "Enrollment", routeValues: null, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
            
        }
    </div>

</div>


<div class="popupWindow" id="addGroupWindow">
    <h2>Información de Horario</h2>
    <ul class="formList">
        <li>
            <label>First Name</label>
            <input class="input" type="text" />
        </li>
        <li>
            <label>Last Name</label>
            <input class="input" type="text" />
        </li>
        <li>
            <label>Owner Phone</label>
            <input class="input" type="text" />
        </li>
        <li>
            <label>E-mail</label>
            <input class="input" type="text" />
        </li>
        <li>
            <label>Best time to contact you</label>
            <textarea></textarea>
        </li>
        <li class="textRight">
            <a href="#" class="button">Send Info</a>
        </li>
    </ul>
</div>

@section Scripts {
    <script type="text/javascript">


        function submit_form() {
            //$('.modalBg').fadeIn();
            //$('.loading').fadeIn();
            //document.forms[0].submit();
            return true;
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#groups_grid").kendoGrid({
                dataSource: {
                    data: null,
                    pageSize: 10
                },
                sortable: true,

                columns: [{
                    field: "Curso",
                    width: 150,
                    title: "Curso"
                }, {
                    field: "Grupo",
                    width: 100,
                    title: "Grupo"
                }, {
                    width: 200,
                    field: "Hora"
                }, {
                    field: "Aula",
                    width: 100,
                    title: "Aula"

                }
                ]
            });

            $('#btnSaveSelectedCourses').off('click.btnSaveSelectedCourses').on('click.btnSaveSelectedCourses', function () {
                $.ajaxSettings.traditional = true;
                var enrollmentCourses = [];
                $('input[name="EnrollmentCourse"]').each(function () {
                    if ($(this).is(':checked')) {
                        enrollmentCourses.push($(this).attr('id'));
                    }
                });
                var params = {
                    EnrollmentID: $('#EnrollmentID').val(),
                    EnrollmentCourses: enrollmentCourses
                };
                $.bAjax({
                    url: '\\FTMatricula/Enrollment/SaveSelectedCourses',
                    ajaxBeforeSend: function () {
                        $('.modalBg').fadeIn();
                        $('.loading').fadeIn();
                    },
                    data: params,
                    datatype: "json",
                    async: false,
                    ajaxSuccess: function (response) {
                        $('.modalBg').fadeOut();
                        $('.loading').fadeOut();

                        //Do Somenthing 

                    }
                });

                return false;
            });



        });
    </script>
}
