@model FTMatricula.Models.Enrollment

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = Resources.GetValue("ENROLLMENT_MANT");
}

@section styles {

}

<div id="content_edit_left">
    <div class="editMenuSpace">
        <div class="editMenu">
            <ul>
                <li class="editOptList">
                    <div class="editOpt">
                        <a href="@Url.Action("Edit", "Enrollment", routeValues: new { id = Model.EnrollmentID })">@Resources.GetValue("ENROLLMENT_GENERAL_INFO")</a>
                    </div>
                </li>
                <li class="editOptList">
                    <div class="editOpt editOptSelected">
                        <a href="#">@Resources.GetValue("ENROLLMENT_COURSES_DETAILS")</a>
                    </div>
                </li>
                <li class="editOptList">
                    <div class="editOpt">
                        <a href="@Url.Action("Groups", "Enrollment", routeValues: new { id = Model.EnrollmentID })">@Resources.GetValue("ENROLLMENT_GROUPS_DETAILS")</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="content_edit_right">

    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                <span>@Resources.GetValue("ENROLLMENT_ADD_TITLE") -</span>@Resources.GetValue("ENROLLMENT_GENERAL_INFO")
            </div>

            <div class="editDetail">
                <div class="detailBox100">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_DESCRIPTION")</label>
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(m => m.Description, new { @class = "input width100" })
                            </div>
                        </li>

                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_PLAN")</label>
                        </li>
                        <li>
                            <div>
                                @(Html.Kendo().DropDownListFor(m => m.PlanID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.PlanList)
                                    .Name("PlanID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>

                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_LOCATION")</label>
                        </li>
                        <li>
                            <div>
                                @(Html.Kendo().DropDownListFor(m => m.LocationID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.LocationsList)
                                    .Name("LocationID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>

                        <li>
                            <label>&nbsp;</label>
                        </li>
                        <li>
                            <div>
                                <table class="width100">
                                    <tr>
                                        <td>
                                            @if(Model.VerifyDates)
                                            {  
                                                <label class="checkHolder hit">
                                                    @Html.CheckBoxFor(m=>m.VerifyDates)
                                                    @Html.DisplayNameFor(m=>m.VerifyDates)
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="checkHolder">
                                                    @Html.CheckBoxFor(m=>m.VerifyDates)
                                                    @Html.DisplayNameFor(m=>m.VerifyDates)
                                                </label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="detailBoxTitle">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_DATES")</label>
                        </li>
                    </ul>
                </div>
                <div class="detailBoxTitle">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_EXRTRA_DATES")</label>
                        </li>
                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_FECHA_BEGIN")</label>
                        </li>
                        <li>
                            <div>
                                @Html.Kendo().DatePickerFor(m => m.StartDate).HtmlAttributes(new { @class = "input width100" })
                            </div>
                        </li>
                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_FECHA_END")</label>
                        </li>
                        <li>
                            <div>
                                @Html.Kendo().DatePickerFor(m => m.EndDate).HtmlAttributes(new { @class = "input width100" })
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_FECHA_BEGIN")</label>
                        </li>
                        <li>
                            <div>
                                @Html.Kendo().DatePickerFor(m => m.ExtraStartDate).HtmlAttributes(new { @class = "input width100" })
                            </div>
                        </li>
                        <li>
                            <label>@Resources.GetValue("ENROLLMENT_FECHA_END")</label>
                        </li>
                        <li>
                            <div>
                                @Html.Kendo().DatePickerFor(m => m.ExtraEndDate).HtmlAttributes(new { @class = "input width100" })
                            </div>
                        </li>
                    </ul>
                </div>
            </div>            
            <div class="errorsSpace">
                <ul>
                    <li>
                        @Html.ValidationMessageFor(m => m.Description)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </li>                   
                </ul>
            </div>
            @Html.HiddenFor(m=>m.EnrollmentID)
            @Html.HiddenFor(m=>m.InsertUserID)
            @Html.HiddenFor(m=>m.InsertDate)
            <div class="clear"></div>
            <div class="formBtnBar">
                @*@Html.ActionLink("Save", "Edit", "User", routeValues: null, htmlAttributes: new { @class = "button send" })*@
                <a href="#" class="button send" onclick="javascript: submit_form()">@Resources.GetValue("SAVE")</a>
                @Html.ActionLink(Resources.GetValue("CANCEL"), "Index", "Enrollment", routeValues: null, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
            
        }
    </div>

</div>

@section Scripts {
    <script type="text/javascript">

        function submit_form() {
            //$('.modalBg').fadeIn();
            //$('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }
    </script>
}
