@model FTMatricula.Models.Enrollment

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = Resources.GetValue("ENROLLMENT_MANT");
}

@section styles {

}

<div id="content_edit_left">
    <div class="editMenuSpace">
        <div class="editMenu">
            <ul>
                <li class="editOptList">
                    <div class="editOpt">
                        <a href="@Url.Action("Edit", "Enrollment", routeValues: new { id = Model.EnrollmentID })">@Resources.GetValue("ENROLLMENT_GENERAL_INFO")</a>
                    </div>
                </li>
                <li class="editOptList">
                    <div class="editOpt editOptSelected">
                        <a href="#">@Resources.GetValue("ENROLLMENT_COURSES_DETAILS")</a>
                    </div>
                </li>
                <li class="editOptList">
                    <div class="editOpt">
                        <a href="@Url.Action("Groups", "Enrollment", routeValues: new { id = Model.EnrollmentID })">@Resources.GetValue("ENROLLMENT_GROUPS_DETAILS")</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="content_edit_right">

    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                <span>@*@Resources.GetValue("ENROLLMENT_ADD_TITLE")*@Edición de Matrícula -</span>@Resources.GetValue("ENROLLMENT_COURSES_DETAILS")
            </div>

            <div class="editDetail">
                <div class="detailBlock">
                    <ul>
                        <li class="width100">
                            <label>Seleccione los cursos que se incluiran en la matricula</label>
                        </li>
                        <li class="width100">
                            <div class="whiteContentBox">

                                @foreach (var item in Model.EnrollmentCourses)
                                {
                                    <div>
                                        @if (item.IsChecked)
                                        {
                                            <label class="checkSpace hit">
                                                <input type="checkbox" id="@item.EnrollmentCourseID" name="EnrollmentCourse" value="@item.IsChecked.ToString().ToLower()" checked="checked"/>
                                                @item.Course.Code &nbsp;-&nbsp; @item.Course.Name
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="checkSpace">
                                                <input type="checkbox" id="@item.EnrollmentCourseID" name="EnrollmentCourse" value="@item.IsChecked.ToString().ToLower()"/>
                                                @item.Course.Code &nbsp;-&nbsp; @item.Course.Name
                                            </label>
                                        }
                                    </div>
                                }
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="detailBox">
                    <ul>
                        <li>
                            <label>Información de nuevo Grupo</label>
                        </li>
                        <li>
                            <label>&nbsp;</label></li>
                        <li>
                            <label>&nbsp;</label></li>
                        <li>
                            <label>&nbsp;</label></li>
                        <li>
                            <label>Curso</label>
                        </li>
                        <li>
                            @Html.TextBoxFor(m => m.Description, new { @class = "input width100" })
                        </li>
                        <li>
                            <label>Nombre del Grupo</label>
                        </li>
                        <li>
                            @Html.TextBoxFor(m => m.Description, new { @class = "input width100" })
                        </li>
                        <li>
                            <label>Cupo</label>
                        </li>
                        <li>
                            
                        </li>
                    </ul>
                </div>
            </div>            
            <div class="errorsSpace">
                <ul>
                    <li>
                        @Html.ValidationMessageFor(m => m.Description)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </li>
                </ul>
            </div>
            @Html.HiddenFor(m => m.EnrollmentID)
            @Html.HiddenFor(m => m.InsertUserID)
            @Html.HiddenFor(m => m.InsertDate)
            <div class="clear"></div>
            <div class="formBtnBar">
                @*@Html.ActionLink("Save", "Edit", "User", routeValues: null, htmlAttributes: new { @class = "button send" })*@
                <a href="#" class="button send" onclick="javascript: submit_form()">@Resources.GetValue("SAVE")</a>
                @Html.ActionLink(Resources.GetValue("CANCEL"), "Index", "Enrollment", routeValues: null, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
            
        }
    </div>

</div>

@section Scripts {
    <script type="text/javascript">

        function submit_form() {
            //$('.modalBg').fadeIn();
            //$('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }
    </script>
}
