@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = @Resources.GetValue("ENROLLMENT_STUDENT");
}
<div id="content">
    <div class="mainBox">
        <h2 class="title"><a href="@Url.Action("Back", "Home", routeValues: new { opt = "enrollment" })" class="internalTitle">@Resources.GetValue("HOME")/@Resources.GetValue("ENROLLMENT")/@Resources.GetValue("ENROLLMENT_STUDENT")</a></h2>

        <div class="editBox">
            
                <div class="editTitle">
                    <span>@Resources.GetValue("ENROLLMENT_ADD_TITLE") -</span>@Resources.GetValue("ENROLLMENT_GENERAL_INFO")
                </div>

                <div class="editDetail">
                    <div class="detailBox100">
                        <ul>
                            <li>
                                <label>xx</label>
                            </li>
                            
                        </ul>
                    </div>
                    
                    <div class="detailBox">
                        <ul>
                            <li>
                                <label>yy</label>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="detailBox">
                        <ul>
                            <li>
                                <label>zz</label>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="detailBox">
                        <ul>
                            <li>
                                <label>GRID</label>
                            </li>                            
                        </ul>
                    </div>
                </div>            
                <div class="errorsSpace">
                    <ul>
                        <li>
                            @Html.ValidationMessageFor(m => m.Description)
                        </li>
                        <li>
                            @Html.ValidationMessageFor(m => m.StartDate)
                        </li>
                        <li>
                            @Html.ValidationMessageFor(m => m.EndDate)
                        </li>
                    </ul>
                </div>
            
                <div class="clear"></div>
                <div class="formBtnBar">
                    @*@Html.ActionLink("Save", "Edit", "User", routeValues: null, htmlAttributes: new { @class = "button send" })*@
                    <a href="#" class="button send" onclick="javascript: submit_form()">@Resources.GetValue("SAVE")</a>
                    @Html.ActionLink(Resources.GetValue("CANCEL"), "Index", "Enrollment", routeValues: null, htmlAttributes: new { @class = "button back" })
                </div>
                <div class="clear"></div>
            
           
        </div>

    </div>
</div>
