@model FTMatricula.Models.EnrollmentInfo

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = @Resources.GetValue("ENROLLMENT_STUDENT");
}
<div id="content">
    <div class="mainBox">
        <h2 class="title"><a href="@Url.Action("Back", "Home", routeValues: new { opt = "enrollment" })" class="internalTitle">@Resources.GetValue("HOME")/@Resources.GetValue("ENROLLMENT")/@Resources.GetValue("ENROLLMENT_STUDENT")</a></h2>

        <div class="editBox">

            <div class="editTitle">
                @*<span>@Resources.GetValue("ENROLLMENT_ADD_TITLE") -</span>@Resources.GetValue("ENROLLMENT_GENERAL_INFO")*@
                <span>Matrícula -</span>Módulo Principal
            </div>

            <div class="editDetail">
                <div class="detailBox100" style="width: 40%">
                    <ul>
                        <li class="width25">
                            <img src="~/Content/images/defaults/student_enroll.png" /></li>
                        <li class="width75">
                            <label>@Model.Student.FirstName&nbsp;@Model.Student.LastName</label>
                        </li>

                        <li class="width75">
                            <label style="font-size: 12px;">@Model.Student.Identification</label>
                        </li>
                    </ul>
                </div>
                <div class="detailBox100" style="width: 60%">
                    <ul>
                        <li class="width25">
                            <label class="bold">Escuela</label>
                        </li>
                        <li class="width75">
                            <label>@Model.SchoolDescription</label>
                        </li>
                        <li class="width25">
                            <label class="bold">Plan</label>
                        </li>
                        <li class="width75">
                            <label>@Model.PlanName</label>
                        </li>
                        <li class="width25">
                            <label class="bold">Matrícula</label>
                        </li>
                        <li class="width75">
                            <label>@Model.EnrollmentDescription</label>
                        </li>

                    </ul>
                </div>

                <div class="detailBox" style="width: 40%">
                    <ul>
                        <li class="width100">
                            <label class="subTitle">Lista de Cursos Disponibles</label>
                        </li>
                        <li class="width100">
                            <div class="whiteContentBox" style="height: 180px;">

                                @foreach (var item in Model.EnrollmentCourses)
                                {
                                    <div>
                                        <label id="@item.CourseID" data="@item.JsonGroups" class="itemSpace">@item.CourseName</label>
                                    </div>
                                }
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="groupsGrid" style="width: 60%;">
                    <ul class="hide">
                        <li>
                            <p class="header" style="border: none">&nbsp;</p>
                        </li>
                        <li>
                            <p class="header">Grupo</p>
                        </li>
                        <li>
                            <p class="header">Aula</p>
                        </li>
                        <li>
                            <p class="header">Horario</p>
                        </li>
                        <li>
                            <p class="header">Profesor</p>
                        </li>
                    </ul>
                    <ul id="groupsGrid" class="hide">
                    </ul>

                    <div style="margin: 20px; float: right" class="hide">
                        <a href="#" class="button down" id="btnAddCourse">Agregar Curso</a>
                    </div>
                </div>


                <div class="defaultBox" style="padding: 0 20px;">
                    <ul style="padding: 0; margin: 0">
                        <li class="width100">
                            <label class="subTitle">Detalle de Cursos Matrículados</label>
                        </li>
                    </ul>
                </div>

                <div class="enrollmentGrid width100">
                    <ul>
                        <li>
                            <p class="header">Curso</p>
                        </li>
                        <li>
                            <p class="header">Grupo</p>
                        </li>
                        <li>
                            <p class="header">Aula</p>
                        </li>
                        <li>
                            <p class="header">Horario</p>
                        </li>
                        <li>
                            <p class="header">Profesor</p>
                        </li>
                        <li>
                            <p class="header">&nbsp;</p>
                        </li>
                    </ul>
                    <ul id="enrollmentGrid">
                        
                    </ul>

                </div>
                <div class="defaultBox">&nbsp;</div>
            </div>
            <div class="errorsSpace">
                    <ul>
                        <li id="ServerMsj">

                        </li>
                    </ul>
                </div>

            <div class="clear"></div>
            <div class="formBtnBar">
                <a href="#" id="btnEnrollment" class="button send">Matricular Estudiante</a>
            </div>
            <div class="clear"></div>


        </div>

    </div>
</div>

@Html.HiddenFor(m=>m.Student.StudentID)

@section Scripts {
    <script type="text/javascript" src="~/Scripts/enrollment.js"></script>
    <script type="text/javascript">
        EnrollmentList = [];
        $(function () {
            var matri = new enrollment({
                view: 'ENROLMENT',
                urlEnrollemnt: '@Url.Action("SaveEnrollment", "Enrollment")'
            });
        });

    </script>
}