@using FTMatricula.Models

@model FTMatricula.Models.EnrollmentInit

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = @Resources.GetValue("ENROLLMENT_STUDENT");

    string MsjImgURL = "proceed_" + (Model.Message.Severity == MessageSeverity.OK ? "OK" : Model.Message.Severity == MessageSeverity.Alert ? "Alert" : "Error") + ".png";
}

@section styles{
    <link rel="stylesheet" href="~/Content/styles/popup_window.css" />
}

@using (Html.BeginForm())
{
    <div id="content">
        <div class="mainBox">
            <h2 class="title"><a href="@Url.Action("Back", "Home", routeValues: new { opt = "enrollment" })" class="internalTitle">@Resources.GetValue("HOME")/@Resources.GetValue("ENROLLMENT")/@Resources.GetValue("ENROLLMENT_STUDENT")</a></h2>



            <div class="editTitle">
                @*<span>@Resources.GetValue("ENROLLMENT_ADD_TITLE") -</span>@Resources.GetValue("ENROLLMENT_GENERAL_INFO")*@
                <span>Módulo de Validación</span>
            </div>

            <div class="editDetail">
                <div class="defaulBox">
                    <ul class="margin5">
                        <li class="width25">
                            <label>Matrículas Acivas</label>
                        </li>
                        <li class="width75">
                            <div>
                                @(Html.Kendo().DropDownListFor(m => m.EnrollmentID)
                                    .BindTo(FTMatricula.Utilities.GeneralCollections.EnrollmentsList)
                                    .Name("EnrollmentID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="defaulBox ">
                    <ul class="border margin5">
                        <li class="width100 padBot10">
                            <label class="subTitle">Información de Estudiante a Matricular</label>
                        </li>

                        @if (Model.IsStudentOK)
                        {
                            <li class="width25">
                                <label>Identificación</label>
                            </li>
                            <li class="width25">
                                <label>Nombre</label>
                            </li>
                            <li class="width25">
                                <label>Apellidos</label>
                            </li>
                            <li class="width25">
                                <label>Teléfono</label>
                            </li>

                            <li class="width25">
                                <div>
                                    <span class="readOnly">
                                        @Model.Student.Identification
                                    </span>
                                </div>
                            </li>
                            <li class="width25">
                                <div>
                                    <span class="readOnly">
                                        @Model.Student.FirstName
                                    </span>
                                </div>
                            </li>
                            <li class="width25">
                                <div>
                                    <span class="readOnly">
                                        @Model.Student.LastName
                                    </span>
                                </div>
                            </li>
                            <li class="width25">
                                <div>
                                    <span class="readOnly">
                                        @Model.Student.Phone1
                                    </span>
                                </div>
                            </li>
                            <li class="width100">
                                <div class="formBtnBar">                                    
                                    <button type="submit" onclick="javascript:$('#ServerRequest').val('');" class="button back">Buscar Otro Estudiante</button>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="width25">
                                <label>Identificación</label>
                            </li>
                            <li class="width25">
                                <label>Nombre</label>
                            </li>
                            <li class="width25">
                                <label>Apellidos</label>
                            </li>
                            <li class="width25">
                                <label>Teléfono</label>
                            </li>

                            <li class="width25">
                                <div>
                                    @Html.TextBoxFor(m => m.Student.Identification, new { @class = "input width100" })
                                </div>
                            </li>
                            <li class="width25">
                                <div>
                                    @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "input width100" })
                                </div>
                            </li>
                            <li class="width25">
                                <div>
                                    @Html.TextBoxFor(m => m.Student.LastName, new { @class = "input width100" })
                                </div>
                            </li>
                            <li class="width25">
                                <div>
                                    @Html.TextBoxFor(m => m.Student.Phone1, new { @class = "input width100" })
                                </div>
                            </li>
                            <li class="width100">
                                <div class="formBtnBar">                                    
                                    <input type="hidden" id="ServerRequest" name="ServerRequest" value="FIND_STUDENT"/>
                                    <input type="hidden" id="Student_StudentID" name="Student.StudentID" value="@Model.Student.StudentID"/>
                                    <button type="submit" class="button find">Buscar Estudiante</button>
                                </div>
                            </li>                            
                        }

                    </ul>
                </div>

                @if (Model.Message.Show)
                { 
                    <div class="defaulBox margin0">
                        <ul class="margin5">
                            <li class="width25 textCenter">
                                <img src="~/Content/images/defaults/@MsjImgURL" />
                            </li>
                            <li class="width75">
                                <label>@Model.Message.Text</label>
                            </li>
                        </ul>
                    </div>
                }

            </div>
            @if (Model.IsReadyToEnroll)
            {
                <div class="clear"></div>
                <div class="formBtnBar">                    
                    <input type="hidden" id="ServerRequest" name="ServerRequest" value="START_ENROLL"/>
                    <input type="hidden" id="Student_StudentID" name="Student.StudentID" value="@Model.Student.StudentID"/>                    
                    <button type="submit" class="button send">Iniciar Matrícula</button>
                </div>
            }

        </div>
        <a href="#selectStudentWindow" id="linkSelectStudent" class="popUp hide">link</a>
    </div>   
    
            if (Model.StudentList.Count > 1)
            {    
    <div class="popupWindow" id="selectStudentWindow">
        <h2>Resultado de Búsqueda</h2>
        <h3 class="padBot10 bold">Por favor seleccione un estudiante...
        </h3>

        <ul class="formPopUpWin">
            @foreach (var item in Model.StudentList)
            {
                <li>
                    <span>@item.Identification</span> -- <span>@item.FirstName</span>&nbsp;<span>@item.LastName</span><span class="hide">@item.Phone1</span><span class="hide">@item.StudentID</span>
                </li>
            }
        </ul>
    </div> 
            }
}

@section Scripts {

    <script>
        $(function () {
            $('form').off('submit.form').on('submit.form', function () {
                $('.popupBg').fadeIn();
                $('.loading').fadeIn();                
            });
        });
    </script>

    @if (Model.StudentList.Count > 1)
    {
        <script>
            var student_list = [];

            $(function () {
                $('#linkSelectStudent').trigger('click');

                $('.formPopUpWin li').off('click.formPopUpWin').on('click.formPopUpWin', function () {
                    $(".popupBg").delay(300).fadeOut(300);
                    $($(".popUp").attr('href')).fadeOut(300);
                    $('#Student_Identification').val($($(this).children('span')[0]).html());
                    $('#Student_FirstName').val($($(this).children('span')[1]).html());
                    $('#Student_LastName').val($($(this).children('span')[2]).html());
                    $('#Student_Phone1').val($($(this).children('span')[3]).html());
                    $('#Student_StudentID').val($($(this).children('span')[4]).html());
                    $('form').submit();
                });
            });
        </script>               
    }
}
