<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FTMatricula</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="iSales App HTML5">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="~/bookmark-icon1.png" />
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />

    @Styles.Render("~/bundles/FTMatriculaCSS")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="header">
        <header class="top">
            <a  href="@Url.Action("Index", "Home", routeValues: null)">
                <h1></h1>
            </a>
            <nav>
                <ul>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </header>
    </div>
    <!-- SECTION CONTENT STARTS -->
        @RenderBody()
    <!-- SECTION CONTENT ENDS -->
    <div id="footer">
        <footer>
            <ul>
                <li class="lined">B&B Development</li>
            </ul>
        </footer>

    </div>
    ​

    <div class="modalBg">
        modal
    </div>
    <div class="loading">
        <img src="~/Content/images/defaults/loader.gif" alt="loading" />
        <p>Please wait!</p>
    </div>
</body>
</html>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/FTMatriculaJS")


@RenderSection("scripts", required: false)

@*  
<script type="text/javascript">
  //FOR IPAD Fullscreen 
    $(function () {

        $("a").click(function (event) {
            event.preventDefault();
            window.location = $(this).attr("href");
        });
    });
</script>*@
