<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Sistema Matricula FundaTEC">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="~/bookmark-icon1.png" />
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />

    @Styles.Render("~/bundles/kendoCSS")
    @Styles.Render("~/bundles/FTMatriculaCSS")
    @Scripts.Render("~/bundles/KendoJS")

    @RenderSection("styles", required: false)

</head>
<body>

    <div id="header">
        <header class="top">
            <a  href="@Url.Action("Index", "Home", routeValues: null)">
                <h1></h1>
            </a>
            <nav>
                <ul>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </header>
    </div>

    <!-- SECTION CONTENT STARTS -->
    @RenderBody()
    <!-- SECTION CONTENT ENDS -->
    <div id="footer">
        <footer>
            <ul>
                <li class="lined">@Resources.GetValue("SIGN")</li>
            </ul>
        </footer>

    </div>
    <div class="modalBg">
        modal
    </div>
    <div class="loading">
        <img src="~/Content/images/defaults/loader.gif" alt="loading" />
        <p>Please wait!</p>
    </div>
</body>
</html>
@RenderSection("scripts", required: false)
<script type="text/javascript">    
    $(function () {
        kendo.culture("es-CR");
    });

    function error_handler(e) {
        if (e.errors) {
            var exception = [], i=0;

            $.each(e.errors, function (key, value) {
                exception.push(value.errors);
            });
            
            window.location = "@Url.Action("RediretToError","Error")" + "?e=" + exception[0] + "&d=" + exception[1];
        }
    }
</script>
