<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Sistema Matricula FundaTEC">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="~/bookmark-icon1.png" />
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />

    @Styles.Render("~/bundles/kendoCSS")
    @Styles.Render("~/bundles/FTMatriculaCSS")
    @Scripts.Render("~/bundles/KendoJS")

    @RenderSection("styles", required: false)

</head>
<body>

    <div id="header">
        <header class="top">
            <a  href="@Url.Action("Index", "Home", routeValues: null)">
                <h1></h1>
            </a>
            <nav>
                <ul>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </header>
    </div>

    <!-- SECTION CONTENT STARTS -->
    @RenderBody()
    <!-- SECTION CONTENT ENDS -->
    <div id="footer">
        <footer>
            <ul>
                <li class="lined">@Resources.GetValue("SIGN")</li>
            </ul>
        </footer>

    </div>
    <div class="modalBg">
        modal
    </div>
    <div class="loading">
        <img src="~/Content/images/defaults/loader.gif" alt="loading" />
        <p>Please wait!</p>
    </div>
</body>
</html>

<script type="text/javascript">
    function error_handler(e) {    
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });        
            alert(message);
        }
    }
</script>

@RenderSection("scripts", required: false)
@*    <script>
        //$(function () {
        //    $("#grid").data("kendoGrid").bind("dataBinding", function (e) {
        //        e.preventDefault();
        //    });
        //});
</script>*@