<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sales</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="description" content="iSales App HTML5">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="~/bookmark-icon1.png" />
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />

    @Styles.Render("~/bundles/iSalesCSS")

    @Styles.Render("~/bundles/kendoCSS")
    
    @Scripts.Render("~/bundles/kendoJS")

    @RenderSection("styles", required: false)

</head>
<body>

    <div class="mainHolder">


        <!-- CENTER INFORMATION HOLDER STARTS -->
        <section class="contentHolder">
            <header class="top">
                <a  href="@Url.Action("Step1", "Estimator", routeValues: null)">
                <h1>
                    Feet on the Street
                </h1>
                </a>
                <nav>
                    <ul>
                    @Html.Partial("_LoginPartial")
                        </ul>
                </nav>
            </header>


            <!-- SECTION HOLDER STARTS -->
            @RenderBody()
            <!-- SECTION HOLDER ENDS -->

        </section>
        <!-- CENTER INFORMATION HOLDER ENDS -->

    </div>
    <footer>
            <ul id="Footer">
                <li>AdvanceMe Computer Management Engineering, Inc. is a Capital Access Network, Inc. company. Copyright &copy; 2012.</li>
                <li>AdvanceMe Computer Management Engineering, Inc. All rights reserved.</li>
            </ul>
        </footer>
<div class="modalBg">
    modal
</div>
<div class="loading">
    <img src="~/Assets/images/defaults/loader.gif" alt="loading" />
    <p>Please wait!</p>
</div>
</body>
</html>



@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(function () {

        $("a").click(function (event) {
            if ($(this).attr("href").match("PagingUsers$")) {
                return;
            }
            event.preventDefault();
            window.location = $(this).attr("href");
        });

    });
</script>