@if (Request.IsAuthenticated) {
    <li class="userInfo">
        <img class="right" src="~/Content/images/defaults/user_in.png" alt="user" />

            <span>Logued in as:</span>
            <span>@Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @style = "color:white", title = "Change password" })</span>

    </li>
    
    if (User.IsInRole("Administrator"))
    {
        <li class="users">             
            <a href="@Url.Action("Settings", "Home", routeValues: null)">
                USERS
            </a>
        </li>
    <li class="settings">             
            <a href="@Url.Action("Settings", "Estimator", routeValues: null)">
                SETTINGS
            </a>
        </li>
    }
 
    <li class="signOut">
        <a href="@Url.Action("LogOff","Account", routeValues: null)">
            SIGN OUT
        </a>            
    </li>
}
else
{

        
    if (Request.RawUrl.ToLower().IndexOf("register") > 0)
    {
        <li class="signIn">            
            <a href="@Url.Action("Login","Account", routeValues: null)" title="Login">
                SIGN IN
            </a>            
        </li>

    }
    else
    {
        @*<li class="signUp">
            <a href="@Url.Action("Register","Account", routeValues: null)" title="Register">
                SIGN UP
            </a>            
        </li>*@
    }        
          

}







