@model FTMatricula.Models.SchemeDetail
<ul>
    <li class="editor-label">
        @Html.Label(@Resources.GetValue("SCHEME_NAME"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.SchemeName)
    </li>
    <li class="editor-label">
        @Html.Label(@Resources.GetValue("DESCRIPTION"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Description)
    </li>
    <li class="editor-label">
        @Html.Label(@Resources.GetValue("OWNER"))
    </li>
    <li style="display: inline">
        @(Html.Kendo().DropDownListFor(model => model.tmpOwnerUserId)
        .BindTo(FTMatricula.Utilities.GeneralCollections.CoordinatorList)
        .Name("tmpOwnerUserId")
        .DataTextField("Text")
        .DataValueField("Value"))
    </li>
    <li class="editor-label">
        @Html.Label(@Resources.GetValue("COORDINATOR"))
    </li>
    <li style="display: inline">
        @(Html.Kendo().DropDownListFor(model => model.tmpCoordinatorUserId)
        .BindTo(FTMatricula.Utilities.GeneralCollections.CoordinatorList)
        .Name("tmpCoordinatorUserId")
        .DataTextField("Text")
        .DataValueField("Value"))
    </li>
    <li class="editor-label">
        @Html.Label(@Resources.GetValue("MODALITY_NAME"))
    </li>
    <li style="display: inline">
        @(Html.Kendo().DropDownListFor(model => model.tmpModalityID)
        .BindTo(FTMatricula.Utilities.GeneralCollections.ModalityList)
        .Name("tmpModalityID")
        .DataTextField("Text")
        .DataValueField("Value"))
    </li>
    <li class="editor-label">
        @Html.Label(@Resources.GetValue("REQ_NAME"))
    </li>
    <li style="display: inline">
        @(Html.Kendo().DropDownListFor(model => model.tmpReqID)
        .BindTo(FTMatricula.Utilities.GeneralCollections.RequirementList)
        .Name("tmpReqID")
        .DataTextField("Text")
        .DataValueField("Value"))
    </li>
</ul>
