@model FTMatricula.Models.Modality
<ul>
    <li class="editor-label">
        @Html.LabelFor(model => model.Name, @Resources.GetValue("MODALITY_NAME"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Name)
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Name)
    </li>
    <li class="editor-label">
        @Html.LabelFor(model => model.Period, @Resources.GetValue("PERIOD"))
    </li>
    <li class="k-textbox">
        @Html.EditorFor(model => model.Period)
    </li>
    <li>
        @Html.ValidationMessageFor(model => model.Period)
    </li>
    <li>
        @Html.ValidationSummary(true)
    </li>
</ul>
