@model FTMatricula.Models.SchemeDetail
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml"; ;
    ViewBag.Title = @Resources.GetValue("ADD_SCHEME");
}
@section styles {

}
<div id="content">
    <div class="editBox">
        @using (Html.BeginForm())
        { 
            <div class="editTitle">
                @Resources.GetValue("ADD_SCHEME")
            </div>

            <div class="editDetail">
                <div class="detailBox">
                    <ul>
                        <li>
                            @Html.Label(@Resources.GetValue("SCHEME_NAME"))
                        </li>
                        <li>
                            <div>
                                <div>
                                    @Html.TextBoxFor(model => model.SchemeName, new { @class = "input width100" })
                                </div>
                            </div>
                        </li>

                        <li>
                            @Html.Label(@Resources.GetValue("DESCRIPTION"))
                        </li>
                        <li>
                            <div>
                                @Html.TextBoxFor(model => model.Description, new { @class = "input width100" })
                            </div>
                        </li>
                        <li>
                            @Html.Label(@Resources.GetValue("OWNER"))
                        </li>
                        <li style="display: inline">
                            <div>
                                @(Html.Kendo().DropDownListFor(model => model.OwnerUserId)
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.CoordinatorList)
                                                    .Name("OwnerUserId")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            @Html.Label(@Resources.GetValue("COORDINATOR"))
                        </li>
                        <li style="display: inline">
                            <div>
                                @(Html.Kendo().DropDownListFor(model => model.CoordinatorUserId)
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.CoordinatorList)
                                                    .Name("CoordinatorUserId")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                        <li>
                            @Html.Label(@Resources.GetValue("MODALITY_NAME"))
                        </li>
                        <li style="display: inline">
                            <div>
                                @(Html.Kendo().DropDownListFor(model => model.ModalityID)
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.ModalityList)
                                                    .Name("ModalityID")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="detailBox">
                    <ul>
                        <li>
                            @Html.Label(@Resources.GetValue("REQ_NAME"))
                        </li>
                        <li style="display: inline">
                            <div>
                                @(Html.Kendo().DropDownListFor(model => model.tmpReqID)
                                                    .BindTo(FTMatricula.Utilities.GeneralCollections.RequirementList)
                                                    .Name("tmpReqID")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .HtmlAttributes(new { @class = "width100" }))
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="errorsSpace">
                <ul>
                    <li>
                        @*  @Html.ValidationMessageFor(m => m.UserName)*@
                    </li>
                </ul>
            </div>            
            <div class="clear"></div>
            <div class="formBtnBar">
                <a href="#" class="button send" onclick="javascript: submit_form()">Save</a>
                @Html.ActionLink("Cancel", "index", "Scheme", routeValues: new { opt = "programs" }, htmlAttributes: new { @class = "button back" })
            </div>
            <div class="clear"></div>
                @Html.HiddenFor(m => m.SchemeID)
        }
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        function keypressHandler(event) {
            var key = event.which || event.keyCode;

            switch (key) {
                default:
                    return true;
                case 13:
                    submit_form();
                    return false;
            }
        }

        function submit_form() {
            $('.modalBg').fadeIn();
            $('.loading').fadeIn();
            document.forms[0].submit();
            return true;
        }

    </script>
}
