@model FTMatricula.Models.SchemeDetail
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = @Resources.GetValue("SCHEME_MANT");
}

@section styles {

}
<div id="content">

    <div class="mainBox">

        <h2 class="title"><a href="@Url.Action("Back", "Home", routeValues: new { opt = "programs" })" class="internalTitle">@Resources.GetValue("HOME")/@Resources.GetValue("PROGRAM_PLAN_COURSE")/@Resources.GetValue("PROGRAMS")</a></h2>

        <div>
            <ul id="formHolder data2" class="blacked">

                <li>

                    <div>
                        <ul>

                            <li>
                                @(Html.Kendo().Grid<FTMatricula.Models.SchemeDetail>()
                                      .Name("Grid")
                                      .Columns(columns =>
                                      {
                                          columns.Bound(m => m.SchemeName).Title(@Resources.GetValue("SCHEME_NAME"));
                                          columns.Bound(m => m.Description).Title(@Resources.GetValue("DESCRIPTION"));
                                          columns.Bound(m => m.OwnerName).Title(@Resources.GetValue("OWNER"));
                                          columns.Bound(m => m.CoordinatorName).Title(@Resources.GetValue("COORDINATOR"));
                                          columns.Bound(m => m.ModalityName).Title(@Resources.GetValue("MODALITY_NAME"));
                                          columns.Bound(m => m.SchoolName).Title(@Resources.GetValue("SCHOOL"));
                                          columns.Command(command =>
                                          {
                                              command.Custom(@Resources.GetValue("VIEW_DETAILS")).Click("showDetails");
                                          }).Width(105).Title(@Resources.GetValue("REQUERIMENT"));
                                          columns.Command(command =>
                                          {
                                              command.Custom(Resources.GetValue("EDIT")).Text(Resources.GetValue("EDIT")).Click("Edit_Row");
                                              command.Destroy().Text(@Resources.GetValue("DELETE"));
                                          }).Width(180);
                                      })
                                .Editable(editable =>
                                {
                                    editable.DisplayDeleteConfirmation(@Resources.GetValue("DELETE_CONFIRMATION"));
                                })
                                      .Sortable(sor => sor.AllowUnsort(true))
                                      .Filterable(filter =>
                                      {
                                          filter.Enabled(true);
                                          filter.Extra(false);
                                          filter.Operators(oper =>
                                          {
                                              oper.ForString(ostr =>
                                              {
                                                  ostr.IsEqualTo(@Resources.GetValue("IS_EQUAL_TO"));
                                                  ostr.IsNotEqualTo(@Resources.GetValue("IS_NOT_EQUAL_TO"));
                                                  ostr.StartsWith(@Resources.GetValue("STARTS_WITH"));
                                                  ostr.Contains(@Resources.GetValue("CONTAINS"));
                                                  ostr.DoesNotContain(@Resources.GetValue("DOES_NOT_CONTAIN"));
                                                  ostr.EndsWith(@Resources.GetValue("ENDS_WITH"));
                                              });
                                          });
                                          filter.Messages(msj =>
                                          {
                                              msj.Filter(@Resources.GetValue("FIND"));
                                              msj.Clear(@Resources.GetValue("CLEAN"));
                                              msj.Info(@Resources.GetValue("FIND_VAL_WHAT"));
                                          });
                                      })
                                      .ToolBar(create => create.Custom()
                                          .Action("Create", "Scheme", routeValues: null)
                                          .Text(@Resources.GetValue("ADD_SCHEME"))
                                          .HtmlAttributes(new { @class = "kendoAddbutton" }))
                                      .Pageable(pager => pager
                                            .PageSizes(new int[] { 5, 10, 15 })
                                            .Input(true)
                                            .Numeric(true)
                                            .Info(true)
                                            .PreviousNext(true)
                                            .Refresh(true)
                                                    .Messages(messages =>
                                                    {
                                                        messages.Empty(@Resources.GetValue("NO_RECORDS"));
                                                        messages.Display(@Resources.GetValue("DISPLAY_GRID"));
                                                        messages.ItemsPerPage(@Resources.GetValue("ITEMS_PER_PAGE"));
                                                        messages.Page(@Resources.GetValue("PAGE"));
                                                        messages.Of(@Resources.GetValue("OF_GRID"));
                                                        messages.First(@Resources.GetValue("FIRST_PAGE"));
                                                        messages.Previous(@Resources.GetValue("PREVIOUS_PAGE"));
                                                        messages.Next(@Resources.GetValue("NEXT_PAGE"));
                                                        messages.Last(@Resources.GetValue("LAST_PAGE"));
                                                        messages.Refresh(@Resources.GetValue("UPDATE"));
                                                    }))
                                      .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Events(events => events.Error("error_handler"))                                            
                                            .Read(read => read.Action("PagingSchemes", "Scheme"))                                            
                                            .Destroy(destroy => destroy.Action("DestroyScheme", "Scheme"))
                                            .Model(model => model.Id(m => m.SchemeID))
                                      )
                                )
                            </li>
                            <li>
                                @(Html.Kendo().Window().Name("Details")
                                                    .Title(@Resources.GetValue("REQ"))
                                                    .Visible(false)
                                                    .Modal(true)
                                                    .Draggable(true)
                                                    .Width(400)                                                    
                                )
                                <script type="text/x-kendo-template" id="template">
                                    <div id="details-container">
                                    <ul>
                                        # for (var i = 0; i < data.length; i++) { #
                                            <li>#= data[i] #</li>
                                        # } #
                                    <ul>
                                    </div>
                                </script>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function Edit_Row(arg) {
            var dataItem = this.dataItem($(arg.currentTarget).closest("tr"));
            var id = dataItem.SchemeID;
            window.location.href = "Scheme/Edit/" + id;
        };

        var detailsTemplate = kendo.template($("#template").html());

        function showDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var wnd = $("#Details").data("kendoWindow");
            $.bAjax({
                url: 'Scheme/PagingRequirements',
                async: false,
                data: {
                    schemeID: dataItem.SchemeID,
                },
                ajaxSuccess: function (response) {
                    wnd.content(detailsTemplate($.parseJSON(response)));
                    wnd.center().open();
                }
            });

        }
    </script>
}
